.contact_button {
    background-color: #f7ab29;
    border-radius: 3em;
    border-width: 1px;
    border-color: lightgray;
    padding: 0.3rem;
}

.friend_button {
    background-color: #f7ab29;
    border-radius: 3em;
    border-width: 1px;
    border-color: lightgray;
    padding: 0.3rem;
}

.about_button {
    background-color: #f7ab29;
    border-radius: 3em;
    border-width: 1px;
    border-color: lightgray;
    padding: 0.3rem;
}

.family_button {
    background-color: #f7ab29;
    border-radius: 3em;
    border-width: 1px;
    border-color: lightgray;
    padding: 0.3rem;
}

.home_button {
    background-color: #f7ab29;
    border-radius: 3em;
    border-width: 1px;
    border-color: lightgray;
    padding: 0.3rem;
}